<!DOCTYPE html>
{% extends "cdus/base.html" %}
{% load static %}

{% block title %}审批人控制台{% endblock title %}

{% block content %}


<div class="container-fluid">
    <h3 class="col-12">已经上传的教学文件</h3>
    <div class="row mt-2">
        <div class="col-12">
            {% if commit_list  %}

            {% for commit_item in commit_list %}
            <div class="col-12 mb-4 ">
                <div class="card h-100 ">

                {% if commit_item.status == ""  %}
                    <h4 class="card-header">{{ commit_item.ud_name }}</h4>
                {% elif commit_item.status == "未通过"  %}
                    <h4 class="card-header text-white bg-danger">{{ commit_item.ud_name }}</h4>
                {% elif commit_item.status == "未审核"  %}
                    <h4 class="card-header text-white bg-primary">{{ commit_item.ud_name }}</h4>
                {% elif commit_item.status == "已通过"  %}
                    <h4 class="card-header text-white bg-success">{{ commit_item.ud_name }}</h4>
                {% else  %}
                    <h4 class="card-header">{{ commit_item.ud_name }}</h4>
                {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{commit_item.status}}</p>
                    </div>
                    <div class="card-footer">

                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            下载文档
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {%  for f in commit_item.files  %}
                            <a class="dropdown-item" href="{{ f.url }}">{{ f.name }}</a>
                            {% endfor %}
                        </div>
                        <a href="{% url 'cdus:review' commit_item.ud_id  "pass" %}" class="btn btn-success">通过</a>
                        <a href="{% url 'cdus:review' commit_item.ud_id  "fail" %}" class="btn btn-danger">不通过</a>

                    </div>
                </div>
            </div>

            {% endfor %}
            {% else  %}
            <h6 class="col-12 text-secondary">无</h6>

            {% endif  %}
        </div>
    </div>
</div>

</div>
</div>
{% endblock content %}

