<!DOCTYPE html>
<!-- 定义导航栏 -->
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> <a class="navbar-brand" href="{% url 'cdus:index'  %}" title="点击可以返回主页">教学文件上传系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item "> <a class="nav-link" href="{% url 'cdus:qft'  %}">快速测试功能</a> </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {%  if request.session.user_type == "teacher"  %}
        <li class="nav-item active"> <a class="nav-link" href="{%  url 'cdus:console' "teacher"  %}" >控制台</a> </li>
        {%  elif request.session.user_type == "approver" %}
        <li class="nav-item active"> <a class="nav-link" href="{%  url 'cdus:console' "approver"  %}" >控制台</a> </li>
        {%  endif  %}
        {%  if request.session.name  %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.session.name}}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{%  url 'cdus:logout'  %}">登出</a>
        </div>
      </li>
        {%  else  %}
        <li class="nav-item active"> <a class="nav-link" href="{%  url 'cdus:login' 'teacher' %}">教师登录</a> </li>
        <li class="nav-item active"> <a class="nav-link" href="{%  url 'cdus:login' 'approver'%}">审批人登录</a> </li>
        {% endif  %}
    </ul>
  </div>
</nav>
<div>
    <br><br><br>
</div>
