<!DOCTYPE html>
<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "cdus/base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}快速测试{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->



<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    下载文档
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {%  for f in files  %}
      <a class="dropdown-item" href="{{ f.url }}">{{ f.name }}</a>
      {% endfor %}
      <a class="dropdown-item" href="">{{ is_open }}</a>
      <a class="dropdown-item" href="">试卷本数:{{ num_of_test_paper }}</a>
  </div>
</div>


{% endblock content %}
