<!DOCTYPE html>
{% extends "cdus/base.html" %}
{% load static %}

{% block title %}教师控制台{% endblock title %}

{% block content %}


<div class="container-fluid">
    <h3 class="col-12">您所教授的课程和班级</h3>
    <div class="row mt-2">
        <div class="col-12">
            {% if commit_list  %}

            {% for commit_item in commit_list %}
            <div class="col-12 mb-4 ">
                <div class="card h-100 ">
                {% if commit_item.status == "未审核"  %}
                    <h4 class="card-header">{{ commit_item.ctc_name }}</h4>
                {% elif commit_item.status == "未通过"  %}
                    <h4 class="card-header text-white bg-danger">{{ commit_item.ctc_name }}</h4>
                {% elif commit_item.status == "未提交"  %}
                    <h4 class="card-header text-white bg-primary">{{ commit_item.ctc_name }}</h4>
                {% elif commit_item.status == "已通过"  %}
                    <h4 class="card-header text-white bg-success">{{ commit_item.ctc_name }}</h4>
                {% else  %}
                    <h4 class="card-header">{{ commit_item.ctc_name }}</h4>
                {% endif %}

                    <div class="card-body">
                        <p class="card-text">{{commit_item.status}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'cdus:post_doc' commit_item.ctc_id  %}" class="btn btn-primary">修改或提交</a>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% else  %}
            <h6 class="col-12 text-secondary">无</h6>

            {% endif  %}
        </div>
    </div>
</div>

</div>
</div>
{% endblock content %}
